body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

section {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1em;
}

.pet {
    display: grid;
    align-items: center;
    margin-bottom: 1em;
}

.pet img {
    width: 150px;
    height: 150px;
    margin-right: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 600px) {
    .pet {
        flex-direction: grid;
        text-align: center;
    }

    .pet img {
        margin-bottom: 0.5em;
    }
}